.chat {
    background-color: $background-main-color;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;

    &.white {
        background-color: $background-white;
        padding: 0;
    }

    .chat-header {
        height: 20vh;

        &.window {
            height: 10vh;
            padding: 0 20px;
            display: flex;
            gap: 20px;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            button {
                border: 1px solid #dedede;
            }

            .chat-header__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100% - 96px);

                h4 {
                    font-size: 18px;
                    font-weight: 500;
                }

                h5 {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }

        &.list {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .chat-header__text {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h1 {
                    font-weight: 500;
                    font-size: 18px;
                    color: #3C92C3;
                }

                .chat-subtitle {
                    font-weight: 400;
                    font-size: 16px;
                }
            }

            .chat-header__img {
                opacity: .6;
            }
        }
    }

    .chat-list {
        height: 70vh;
    }

    .chat-window {
        height: 80vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &>div {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .chat-message {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &__text {
                border: 1px solid #dedede;
                max-width: 100%;
            }

            &__date {
                color: #303030;
                font-size: 12px;
                opacity: .4;
            }

            &.user {
                align-items: flex-end;

                .chat-message__text {
                    background-color: $background-second-color;
                    padding: 5px 10px;
                    border-radius: 10px;
                }
            }

            &.assistent {
                align-items: flex-start;

                .chat-message__text {
                    background-color: $background-main-color;
                    padding: 5px 10px;
                    border-radius: 10px;
                }
            }
        }
    }

    .chat-list {
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .item {
                position: relative;
                cursor: pointer;
                width: 100%;
                padding: 5px 0;
                text-align: center;
                background-color: $background-white;
                border: 2px solid #1d93ab;
                border-radius: 10px;
                text-transform: uppercase;
                color: #3C92C3;

                .item-delete {
                    position: absolute;
                    left: 5px;
                    top: calc(50% - 8px);
                }
            }
        }
    }

    .chat-footer {
        height: 10vh;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        &.window {
            padding: 0 20px;
        }

        button {
            max-width: 200px;
            font-size: 14px;
            border-radius: 10px;
            height: 40px;
        }
    }


    .category-slider {
        position: fixed;
        z-index: 9999;
        max-width: calc(100vw - 16px);

        .category-item {
            display: flex !important;
            align-items: center;
            height: 40px;

            button {
                height: 30px;
                width: 90%;
                margin-left: 5%;
            }
        }
    }

    .categories-list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        button {
            font-size: 14px;
            line-height: 114%;
        }
    }

    .profile-main-loader {
        left: 50% !important;
        margin-left: -100px;
        position: fixed !important;
        top: 50% !important;
        margin-top: -100px;
        width: 45px;
        z-index: 9000 !important;

        .loader {
            position: relative;
            margin: 0px auto;
            width: 200px;
            height: 200px;

            &::before {
                content: '';
                display: block;
                padding-top: 100%;
            }

            .circular-loader {
                -webkit-animation: rotate 2s linear infinite;
                animation: rotate 2s linear infinite;
                height: 100%;
                -webkit-transform-origin: center center;
                -ms-transform-origin: center center;
                transform-origin: center center;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                margin: auto;

                .loader-path {
                    stroke-dasharray: 150, 200;
                    stroke-dashoffset: -10;
                    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                    stroke-linecap: round;
                }
            }
        }
    }
}


@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    0% {
        stroke: rgb(60, 146, 195);
    }

    40% {
        stroke: rgb(60, 146, 195);
    }

    66% {
        stroke: rgb(60, 146, 195);
    }

    80%,
    90% {
        stroke: rgb(60, 146, 195);
    }
}

@keyframes color {
    0% {
        stroke: rgb(60, 146, 195);
    }

    40% {
        stroke: rgb(60, 146, 195);
    }

    66% {
        stroke: rgb(60, 146, 195);
    }

    80%,
    90% {
        stroke: rgb(60, 146, 195);
    }
}