$background-color: rgba(149, 217, 254, .5);
$background-main-color: rgba(149, 217, 254, 0.2);
$background-second-color: rgba(246, 254, 168, 0.7);
$background-white: #fff;

$shadow: 0px 2px 4px 0px rgba(0, 0, 0, .05);