<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/ic_launcher"
        android:label="MYSPB">
        <activity
            android:name=".ChatwithBot.ChatwithBoot"
            android:exported="false"
            android:label="@string/title_activity_chatwith_boot"
            android:theme="@style/Theme.MySPB" />
        <activity
            android:name=".Media.MediaActivity"
            android:exported="false"
            android:label="@string/title_activity_media"
            android:theme="@style/Theme.MeetMap" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaF5wvZj3dJFSYTZRx3XH9O_Oz8XsNETs" />

        <activity
            android:name="com.ilya.MeetingMap.Mine_menu.Map_Activity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_main_menu"
            android:largeHeap="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" />
    </application>

</manifest>